body {
  margin: 0;
  text-align: center;
}

hr {
  border: dotted black 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

img {
  object-fit: cover;
  max-width: 200px;
}

.top-container {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: black;
}

.middle-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.bottom-container {
  background-color: black;
  padding: 50px 0 20px;
}

.title-text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.image-profile {
  display: flex;
  justify-content: center;
}

.intro {
  width: 30%;
  margin: auto;
}

.my-skills {
  margin-bottom: 50px;
}

div.image_circle {
  width: 200px;
  height:200px;
  border-radius:50%;
  border: solid 4px black;
  background-position: 50% 40%;
  background-image: url("/src/photo/my-photo-1.jpg");
}

.footer-link {
  color: white;
}

